*.cs linguist-detectable=true
*.shader linguist-detectable=true
*.meta linguist-detectable=false
*.nb linguist-detectable=false
*.m linguist-detectable=false
*.wl linguist-detectable=false
*.meta linguist-vendored
*.nb linguist-vendored
*.m linguist-vendored
*.wl linguist-vendored
